@import "../../../variables.scss";

.navbar {
    background-color: $panel_color;
    position: absolute;
    top: 0;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.app-name {
    color: $green_color;
    font-weight: bolder;
    font-style: italic;
    font-size: 130%;
}

.balance-corner {
    position:absolute; 
    right:1rem; 
    size:2rem; 
    color:white;
    width: 5rem;
    padding: 1px;
    text-align: center;
    background-color: $green_color;
    font-weight: bold;
    border-radius: 3px;
    font-size: 80%;
}