<ng-container *ngIf="movieData!=null ; else NotFound"> 
  <div class="pages p-2 container justify-content-center" >
    <app-message-alert [message]="message" [type]="type" *ngIf="message!=null"></app-message-alert>
    <div class="row p-2">
      <div class="col-6">
        <img src="{{apiService.getFullImageUrl(movieData.poster_path)}}" class="poster">
      </div>
      <div class="col-6 ml-0 pl-0 pr-4">
        <div class="title">{{movieData.title}}</div>
        <div>Rating: {{dataService.normalizeRating(movieData.vote_average)}}</div>
        <div>Duration: {{movieData.runtime}} minutes</div>
        <div>Release: {{movieData.release_date}}</div>
        <div> Price: 
            <ng-container *ngIf="movieData.vote_average!=0 ; else free"> 
                Rp.{{apiService.getMoviePrice(movieData.vote_average)|number}}
            </ng-container>
            <ng-template #free>
                FREE
            </ng-template>
        </div>
        <div class="badge" [ngClass]="{
          'owned': dataService.isMovieOwned(movieData.id)=='OWNED',
          'not-owned': dataService.isMovieOwned(movieData.id)=='NOT OWNED'
        }">{{dataService.isMovieOwned(movieData.id)}}</div>
        <div><button class="btn btn-md btn-block btn-success buy-button" (click)="buyMovie(movieData.id)" *ngIf="dataService.isMovieOwned(movieData.id)=='NOT OWNED'">BUY</button></div>
      </div>
    </div>
    <div class="row mt-2 p-2">
        <div class="col">
            <span style="font-weight:bold">CAST:</span>
            <app-cast [movieId]="movieId" class="cast-container p-2"></app-cast>    
        </div>
    </div>
    <div class="row mt-2 p-2">
      <div class="col">
        <span style="font-weight:bold">SYNOPSIS:</span><br>
        {{movieData.overview}}
      </div>
    </div>
    <div class="row mt-2 p-2">
        <div class="col">
            <span style="font-weight:bold">SIMILAR MOVIES:</span>
            <app-similar-movie [movieId]="movieId" class="cast-container p-2"></app-similar-movie>    
        </div>
    </div>
    <div class="row mt-2 p-2">
        <div class="col">
            <span style="font-weight:bold">RECOMMENDED FOR YOU:</span>
            <app-recommended-movie [movieId]="movieId" class="cast-container p-2"></app-recommended-movie>    
        </div>
    </div>
  </div>
</ng-container>
<ng-template #NotFound>
</ng-template>

